/build
/coverage
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
clover.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.env
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
