includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: max

    paths:
        - app
        - database
        - lang
        - routes
        - tests

    scanFiles:
        - _ide_helper_models.php

    ignoreErrors:
        - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<.+?>\:\:each\(\) expects callable\(.+?\)\: mixed, Closure\(.+?\)\: .+? given\.#'
        - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<.+?>\:\:map\(\) expects callable\(.+?\)\)\: mixed, Closure\(.+?\)\: .+? given\.#'
