includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - bootstrap
        - config
        - routes
        - tests

    ignoreErrors:
        -
            message: "#Cannot call method assertExitCode\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.#"
            count: 2
            path: tests/Command/CalculateDownloadsTest.php

        -
            message: "#Cannot call method assertExitCode\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.#"
            count: 1
            path: tests/Command/CalculateWeightsTest.php

        -
            message: "#Cannot access property \\$date on App\\\\Download\\|false\\.#"
            count: 1
            path: tests/Unit/PackageModelTest.php
