<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  executionOrder="random"
  stopOnError="true"
  stopOnFailure="true"
  verbose="true"
>
  <testsuites>
    <testsuite name="Command">
      <directory>./tests/Command</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>./tests/Integration</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="-1"/>
    <server name="APP_ENV" value="testing"/>
    <server name="APP_KEY" value="base64:bQcanzu8UWGactsYM3MVfsMpCVBUQFSKGlhCjYtbAi8="/>
    <server name="BCRYPT_ROUNDS" value="4"/>
    <server name="CACHE_DRIVER" value="array"/>
    <server name="DB_CONNECTION" value="sqlite"/>
    <server name="DB_DATABASE" value=":memory:"/>
  </php>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
</phpunit>
