@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  background-color: #f3f3f3;
}

main {
  section.wrapper {
    overflow-x: auto;
  }
}

table {
  margin-bottom: 0 !important;

  th, td {
    white-space: nowrap;
  }

  td {
    vertical-align: middle !important;
  }
}

.name {
  min-width: 15rem;
}

.description {
  min-width: 30rem;
}
