header {
  padding-left: 30px;
  padding-right: 30px;
}

a {
  text-decoration: none !important;
}

.homepage {
  color: inherit !important;
}

.description {
  max-width: 20vw;
  word-wrap: break-word;
}
