header {
  padding-left: 30px;
  padding-right: 30px;
}

a {
  text-decoration: none !important;
}

table th, table td {
  white-space: nowrap;
}

.description {
  white-space: initial;
  word-wrap: break-word;
}

.dataTables_wrapper .row:last-child {
  margin-top: 1rem;
}
